/********************
	style
	ver1.0
	2023.03.08
	임수경

********************/

@charset "UTF-8";

@font-face {
  font-family: 'HyundaiSansTextKRBold';
  font-style: normal;
  font-weight: 400;
  src: local('HyundaiSansTextKRBold'), url('../fonts/HyundaiSansTextKRBold.woff2') format('woff2'), url('../fonts/HyundaiSansTextKRBold.woff') format('woff');
}
@font-face {
  font-family: 'HyundaiSansTextKRMedium';
  font-style: normal;
  font-weight: 400;
  src: local('HyundaiSansTextKRMedium'), url('../fonts/HyundaiSansTextKRMedium.woff2') format('woff2'), url('../fonts/HyundaiSansTextKRMedium.woff') format('woff');
}
@font-face {
  font-family: 'HyundaiSansTextKRRegular';
  font-style: normal;
  font-weight: 400;
  src: local('HyundaiSansTextKRRegular'), url('../fonts/HyundaiSansTextKRRegular.woff2') format('woff2'), url('../fonts/HyundaiSansTextKRRegular.woff') format('woff');
}

/* CSS 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button {background:transparent;border:0;-webkit-box-sizing:border-box;box-sizing:border-box;font-weight:normal;font-family:"KakaoSmall", HelveticaNeue, DroidSans, Sans-serif, Helvetica;letter-spacing:-0.5px;margin:0;padding:0;vertical-align:baseline;}
html {font-size:16px;color:#161616;}
html, body {font-family:"HyundaiSansTextKRBold";}
body * {font-family:"HyundaiSansTextKRBold"; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
nav ul, li {list-style:none;}
a {background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;text-decoration:none;vertical-align:baseline;}
img {max-width:100%;vertical-align:top;}

table {table-layout:fixed;border-collapse: collapse; border-spacing: 0; vertical-align: baseline; word-break: break-all; }

input {
	border-radius:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"HyundaiSansTextKRBold", HelveticaNeue, DroidSans, Sans-serif, Helvetica;
	font-weight:normal;
	margin:0;
	letter-spacing:-.5px;
	padding:0;
	vertical-align:top;
}

select, textarea {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"HyundaiSansTextKRBold", HelveticaNeue, DroidSans, Sans-serif, Helvetica;
	letter-spacing:-.5px;
}

.hide { font-size:0; height:0; left:-20000px; overflow:hidden; position:absolute; text-indent:-20000px; width:0; }

header,
nav,
section,
article,
aside,
footer { display:block; }


video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider {display:none;} 
video::-webkit-media-controls-fullscreen-button { display: none !important; }


html,
body {height:100%;width:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust :none;-moz-text-size-adjust :none;-o-text-size-adjust :none;-webkit-font-smoothing: antialiased}
a, button {-webkit-tap-highlight-color: transparent;}
.blind {font-size:0;line-height:0;color:transparent;width:0;height:0;opacity:0;overflow:hidden;}
strong * {font-weight:700;}
body {background:#1f1f1f;}
.wrap {position:relative;width:100vw;height:100vh;margin:0 auto;font-family:"HyundaiSansTextKRBold";font-weight:400;overflow:hidden;}
.inner {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.category-wrap {text-aligN:center;}
.category-menu {display:inline-block;background:#b2b2b2;border-radius:58px;white-space:nowrap;}
.category-menu li {display:inline-block;padding:11px 15px 9px 15px;font-size:38px;line-height:38px;color:#fff;letter-spacing:-0.5px;}
.category-menu li.active {padding:11px 30px 9px 30px;background:#107fe0;border-radius:58px;}
.category-menu li:hover {cursor:pointer;}
.stand-swiper {width:100%;padding:100px 0 310px 0;overflow: visible;/*opacity:0;*/}
.stand-swiper.activated {opacity:1;}
.stand-swiper .swiper-slide {width:648px;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;box-shadow: 0px -35px 40px 8px rgba(0,0,0,0.8);-webkit-box-shadow: 0px -35px 40px 8px rgba(0,0,0,0.8);-moz-box-shadow: 0px -35px 40px 8px rgba(0,0,0,0.8);}
.stand-swiper .swiper-slide:before {content:"";display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;z-index:10;}
.stand-swiper .swiper-slide-active {}
.stand-swiper .swiper-slide-active:before {display:none;}
.stand-swiper .swiper-slide>div {position:relative;}
.stand-swiper .swiper-slide .figure {position:relative;z-index:2;filter:brightness(30%);transition:all 1s linear;}
.stand-swiper .swiper-slide .figure a {display:block;width:154px;height:154px;background:url(../img/icon_play.png) 0 0 no-repeat;position:absolute;top:calc(50% - 100px);left:50%;transform:translate(-50%,-50%);}
.stand-swiper .swiper-slide .figure img {transition:all 0.8s ease-in-out;}
.stand-swiper .swiper-slide-active .figure {filter:brightness(100%);}
html.is-opened .stand-swiper .swiper-slide-active .figure a img {transform:scale(5);}
.stand-swiper .swiper-slide .reflection {position:absolute;top:100%;left:0;width:100%;transform:rotateX(180deg);filter:blur(3px);-webkit-filter:blur(3px) ;margin-top:-5px;}
.stand-swiper .swiper-slide .reflection .over-dim {display:block;width:100%;height:100%;position:absolute;top:0;left:0;
background: -moz-linear-gradient(top,  rgba(31,31,31,1) 0%, rgba(31,31,31,1) 65%, rgba(31,31,31,0.4) 89%, rgba(31,31,31,0.2) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(31,31,31,1) 0%,rgba(31,31,31,1) 65%,rgba(31,31,31,0.4) 89%,rgba(31,31,31,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(31,31,31,1) 0%,rgba(31,31,31,1) 65%,rgba(31,31,31,0.4) 89%,rgba(31,31,31,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.stand-swiper .swiper-slide .reflection .over-dim div {width:100%;height:100%;position:absolute;top:0;left:0;opacity:1;transition:all 1s linear;
background: -moz-linear-gradient(top,  rgba(31,31,31,1) 0%, rgba(31,31,31,1) 65%, rgba(31,31,31,0.9) 89%,rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(31,31,31,1) 0%,rgba(31,31,31,1) 65%,rgba(31,31,31,0.9) 89%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(31,31,31,1) 0%,rgba(31,31,31,1) 65%,rgba(31,31,31,0.9) 89%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.stand-swiper .swiper-slide-active .reflection .over-dim div {opacity:0;}
.stand-swiper .swiper-slide .title {font-size:52px;line-heighT:61px;color:#fff;font-family:"HyundaiSansTextKRBold";font-weight:400;position:absolute;bottom:55px;left:0;width:100%;padding:0 25px;box-sizing:border-box;}
.stand-swiper .swiper-pagination-bullet {width:22px;height:22px;background:#bfbfbf;opacity:1;margin:0 10px !important;border-radius:22px;transition:width 0.5s ease-in-out;}
.stand-swiper .swiper-pagination {bottom:70px !important;}
.stand-swiper .swiper-pagination-bullet-active {width:62px;background:#107fe0;}
.layerpop {display:none;position:fixed;width:100vw;height:100vh;top:0;left:0;z-index:2001;}
.layerpop .layer-inner {position:relative;}
.layerpop .layer-inner .layer-close {display:block;width:70px;height:70px;position:absolute;top:50px;right:50px;background:url(../img/btn_close_layer.png) center center no-repeat;background-size:100%;z-index:2002;}
.layerpop.is-opened {}
.layerpop.type-center-vd .vd-wrap {position:relative;width:100vw;height:100vh;}
.layerpop.type-center-vd .vd-wrap  video {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:#000;}

.stb-loading-wrap {position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:rgba(0,0,0,0.7);}
.stb-loading {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:160px;height:160px;opacity:0.7;}
.stb-loading div {display:block;box-sizing:border-box;position:absolute;width: 128px;height: 128px;margin:16px;border:16px solid #fff;border-radius: 50%;animation: stb-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;border-color:#fff transparent transparent transparent;}
.stb-loading div:nth-child(1) {animation-delay: -0.45s;}
.stb-loading div:nth-child(2) {animation-delay: -0.3s;}
.stb-loading div:nth-child(3) {animation-delay: -0.15s;}
@keyframes stb-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.video-wall {position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;z-index:20000;}
.video-wall .vd-wrap {position:relative;width:100vw;height:100vh;}
.video-wall .vd-wrap  video {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:#000;z-index:20001;}
.video-wall .over-wrap {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:transparent;z-index:20002;}